
@{
    ViewBag.Title = "AppointmentMgmt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using  webdoc.Models
<h2>AppointmentMgmt</h2>
<div class="row">
    <table class="table">
        <tr class="bg-dark">
            <th>Sr.No</th>
            <th>Patient Name:</th>
            <th>Patient Mobile:</th>
            <th>Doctor Name:</th>
            <th>Appointment Time:</th>
            <th>Issues:</th>
            <th>Apply Date:</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @{ 
            ConnectionManager con = new ConnectionManager();
            string sql = "select * from Tbl_Appointment";
            System.Data.DataTable dt = con.getData(sql);
if (dt.Rows.Count > 0)
            {
                for(var i = 0; i < dt.Rows.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@dt.Rows[i]["pname"]</td>
                        <td>@dt.Rows[i]["pmob"]</td>
                        <td>@dt.Rows[i]["docname"]</td>
                        <td>@dt.Rows[i]["apttime"]</td>
                        <td>@dt.Rows[i]["issues"]</td>
                        <td>@dt.Rows[i]["applydate"]</td>
                        <td><a class="btn btn-danger">Cancel</a></td>
                        <td><a class="btn btn-info">Update</a></td>
                        <td><a class="btn btn-secondary">Display</a></td>
                    </tr>
                }
            }
        }
    </table>
</div>
