
@{
    ViewBag.Title = "AppointmentMgmt";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
@using webdoc.Models
<h2>Appointment Histroy</h2>
<div class="row">
    <table class="table border">
        <thead>
            <tr class="bg-black">
                <th>Sr.No.</th>
                <th>Patient Name</th>
                <th>Patient Email</th>
                <th>Doctor Name</th>
                <th>Appointment Time</th>
                <th>Health Issues</th>
                <th>Apply Date</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            @{
                if (Session["Useremail"] != null)
                {
                    ConnectionManager con = new ConnectionManager();
                    string docem = Session["Useremail"].ToString();
                    string sql = "select * from Tbl_Appointment where docname=(select docname from Tbl_Doctor where docemail='" + docem + "')";
                    System.Data.DataTable dt = con.getData(sql);
                    for (var i = 0; i < dt.Rows.Count; i++)
                    {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@dt.Rows[i]["pname"]</td>
                        <td>@dt.Rows[i]["pemail"]</td>
                        <td>@dt.Rows[i]["docname"]</td>
                        <td>@dt.Rows[i]["apttime"]</td>
                        <td>@dt.Rows[i]["issues"]</td>
                        <td>@dt.Rows[i]["applydate"]</td>
                        <td><a class="btn btn-info">Update</a></td>
                        <td><a class="btn btn-secondary">Display</a></td>
                    </tr>
                    }
                }
                else
                {
                      Response.Write("<script>alert('LogIn     First');window.location.href='/Home/LogIn';</script>");

                }
              }
        </tbody>
    </table>
</div>




