
@{
    ViewBag.Title = "ProfileMgmt";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
@using webdoc.Models
<style>
    td {
        padding: 3% 0%;
        width: 0%;
    }

        td b {
            font-size: 17px;
        }

        td input {
            font-size: 17px;
            color: lightslategray;
        }
</style>


@{
    ConnectionManager con = new ConnectionManager();
    if (Session["Useremail"] != null)
    {
        string username = Session["Useremail"].ToString();
        string sql = "select* from Tbl_Doctor where docemail='" + username + "'";
        System.Data.DataTable tb = con.getData(sql);
        if (tb.Rows.Count == 1)
        {
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6  card">
                    <h1 class="text-center">Profile</h1>
                    <p class="text-muted fs-5 text-center">Welcome </p>
                    <form method="post" action="/DoctorMGMT/UpdateProfile?em=@tb.Rows[0]["docemail"]" enctype="multipart/form-data">
                        <table style="display: flex; width: -webkit-fill-available; justify-content: center; align-items: center; ">
                            <tr>
                                <td colspan="2" class="text-center">
                                    <img src="~/Content/docimg/@tb.Rows[0]["profile"]" id="img" width="80" height="80" style="border:1px solid gray;" class="rounded-circle" /><br />
                                    <p id="filename"></p>
                                    <input type="file" name="pic" id="Uppic" class="form-control d-none" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td><b>Name:</b></td>
                                <td> <input type="text" class="form-control" name="n" value="@tb.Rows[0]["docname"]" readonly /></td>
                            </tr>
                            <tr>
                                <td><b>Specialization:</b></td>
                                <td><input type="text" class="form-control" name="spec" value="@tb.Rows[0]["docspecial"]" readonly /></td>
                            </tr>
                            <tr>
                                <td><b>Email:</b></td>
                                <td><span class="form-control">@tb.Rows[0]["docemail"]</span></td>
                            </tr>
                            <tr>
                                <td><b>Fees:</b></td>
                                <td><input type="text" class="form-control" name="fees" value="@tb.Rows[0]["docfess"]" readonly /></td>
                            </tr>
                            <tr>
                                <td><b>Details:</b></td>
                                <td> <input type="text" class="form-control" name="details" value="@tb.Rows[0]["docdetails"]" readonly /></td>
                            </tr>
                            <tr>
                                <td><b>Regdate:</b></td>
                                <td><span class="form-control">@tb.Rows[0]["regdate"]</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><button type="submit" class="btn btn-primary px-3 m-auto" id="edit">Update</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        Response.Write("<script>alert('LogIn First');window.location.href='/Home/LogIn';</script>");
    }
}
<script>
    $(document).ready(function () {
        $("#edit").hide();
        $("input").click(function () {
            $(this).prop("readonly", false);
            $(this).css("color", "red");
            $(this).blur(function () {
                $(this).css("background-color", "lightskyblue")
                $("#edit").show();
            })
        })
        $("#img").click(function () {
            $("#Uppic").trigger("click");
        })
        $("#Uppic").change(function (e) {
            const img = e.target.files[0].name;
            $("#img").hide();
            $("#filename").text(img);
            $("#edit").show();

        })
    })
</script>

